<h1>This is the secret page!!</h1>

<img src="https://s-media-cache-ak0.pinimg.com/736x/05/53/4a/05534ae73104d10207cb339b239d13b6.jpg">

<p>Only the most deserving ones can see Him!!</p>

<li><a href="/register">SignUp?</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">LogOut</a></li>